{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}">
  <div class="container">
    <div class="hero-slider">
      <!-- slider item -->
      {{ range .slider_item }}
      <div class="hero-slider-item">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-white" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3"
              data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".1">{{ .title | markdownify }}</h1>
            <p class="white-text mb-4" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".4">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            <a href="{{ .button.link | absLangURL }}" class="btn btn-primary" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".7">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- banner-themes -->
{{ if $data.homepage.banner_themes.enable }}
{{ with $data.homepage.banner_themes }}
<section class="mb-xl-4 mb-lg-3 mb-4 overflow-md-hidden">
  <div class="row">
      <div class="col-xl-4 col-lg-4 align-self-center">
        <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="banner-feature">
      </div>
        <div class="col-xl-7 col-lg-7 col-md-12">
          <div class="row feature-blocks bg-feature">
            <div class="row " style="flex: auto; flex-direction: column; align-items: center;">
              <h2 class="section-title">{{ $data.homepage.banner_themes.title | markdownify }}</h2>
            </div>
            <div class="row pl-3 pr-3">
              {{ range .themes_item }}
              <div class="col-sm-6 col-xl-6 mb-xl-5 mb-lg-3 mb-4 text-center
                          text-sm-left" style="display: flex;
                          flex-direction: column; align-items: center;">
                <div class="mb-xl-4 mb-lg-3 mb-4" style="max-width: 3.5rem; height: 4rem;">
                  <a href="{{ .link }}">
                    <img class="img-fluid w-100" src="{{ .icon | absURL }}" alt="{{ .name }}">
                  </a>
                </div>
                <a href="{{ .link }}">
                  <h4 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
                </a>
                <p>{{ .content | markdownify }} <a href="{{ .link }}"> Know more...</a></p>

              </div>
              {{ end }}
            </div>
          </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-themes -->

<!-- banner-initiatives -->
{{ if $data.homepage.banner_initiatives.enable }}
{{ with $data.homepage.banner_initiatives }}
<section class="overflow-md-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12">
        <div class="row bg-feature border-feature">
          <div class="row pt-5 mt-3" style="flex: auto; flex-direction: column; align-items: center;">
            <h2 class="section-title">{{ $data.homepage.banner_initiatives.title | markdownify }}</h2>
          </div>
          <div class="row pl-3 pr-3">
          {{ range .initiatives_item }}
          <div class="col-sm-6 col-xl-6 mb-xl-5 mb-lg-3 mb-4 text-center
            text-sm-left" style="display: flex;
            flex-direction: column; align-items: center;">
            <div class="mb-xl-4 mb-lg-3 mb-4" style="max-width: 3.5rem; height: 4rem;">
              <a href="{{ .link }}">
                <img class="img-fluid w-100" src="{{ .icon | absURL }}" alt="{{ .name }}">
              </a>
            </div>
            <a href="{{ .link }}">
              <h4 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
            </a>
            <p>{{ .content | markdownify }} <a href="{{ .link }}"> Know more...</a></p>

          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-initiatives -->

<!-- about us -->
{{ if $data.homepage.what_we_do.enable }}
{{ with $data.homepage.what_we_do }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary-outline">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ . | absURL }}" alt="about image">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->

<!-- media_statements -->
{{ if $data.homepage.media_statements.enable }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.media_statements.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `media_statements` | relLangURL }}" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      {{ range first 6 (where site.RegularPages "Section" "media_statements")}}
      <div class="col-lg-4 col-md-6 mb-5">
        {{ .Render "post" }}
      </div>
      {{ end }}
    </div>
    <!-- /course list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `media_statements` | relLangURL }}" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /media_statements -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">{{ .subtitle | markdownify }}</h6>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-secondary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.blog.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{ `blog` | relLangURL }}" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      {{ range first 3 (where site.RegularPages "Section" "blog")}}
      <div class="col-lg-4 col-md-6 mb-5">
        {{ .Render "post" }}
      </div>
      {{ end }}
    </div>
    <!-- /course list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `blog` | relLangURL }}" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /blog -->

<!-- social media -->
{{ if $data.homepage.social_media.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.social_media.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div class="row justify-content-center mb-5 bg-gray p-4 rounded-lg">
      <!-- course item -->
      <div class="col-md-5">
        <a class="twitter-timeline" data-height="500" data-theme="light" href="{{ site.Params.social.twitter.link }}?ref_src=twsrc%5Etfw">Tweets by IndiaWpc</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-md-5">
        <div class="fb-page" data-href="{{ site.Params.social.facebook.link }}"
          data-tabs="timeline" data-width="500" data-height="500"
          data-small-header="false" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="{{ site.Params.social.facebook.link }}" class="fb-xfbml-parse-ignore">
            <a href="{{ site.Params.social.facebook.link }}">Working Peoples&#039; Charter</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5 bg-gray p-4 rounded-lg">
      <div class="col-md-6">
        <iframe class="latestVideoEmbed w-100" vnum='0' cid="{{ site.Params.social.youtube.channel_id }}" height="340" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe class="latestVideoEmbed w-100" vnum='1' cid="{{ site.Params.social.youtube.channel_id }}" height="340" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    </div>
  </div>
</section>
{{ end }}


{{ end }}
