{{ $blogs := where .Site.Pages "Section" ($.Scratch.Get "mySection")}}
{{ $taggedContent := (index .Site.Taxonomies.tags (lower .Params.related_tag)).Pages }}
{{ $pages := intersect $blogs $taggedContent}}
{{ if $pages }}
<section class="section-sm">
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center section-title justify-content-between">
        <h2 class="mb-0 text-nowrap mr-3">Related {{ ($.Scratch.Get "mySection") | humanize | pluralize }}</h2>
        <div class="border-top w-100 border-primary d-none d-sm-block"></div>
        <div>
          <a
            href="{{ `tags/` | relLangURL }}{{ .Params.related_tag | urlize | lower }}"
            class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">
            {{ i18n "see_all" }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- course list -->
  <div class="row">
    {{ range first 3 $pages }}
    <div class="col-lg-4 col-md-6 mb-5">
      {{ .Render "post" }}
    </div>
    {{ end }}
  </div>
  <!-- /course list -->
  <!-- mobile see all button -->
  <div class="row">
    <div class="col-12 text-center">
      <a href="{{ `blog` | relLangURL }}" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">
        {{ i18n "see_all" }}
      </a>
    </div>
  </div>
</section>
{{ end }}
